{% extends "base_generic.html" %}

{% block content %}
  <body class="img js-fullheight" style="background-color: #928DAB;">
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section">Your user id : {{id}}</h2>
        </div>
      </div>
      <div class="row justify-content-center">
          <div class="col form-group">
            <a href="{% url 'donate_stationery' user_id=id%}"><button type="submit" class="form-control btn btn-primary submit px-3">Donate Item(s)</button></a>
          </div>
          <div class="col form-group">
            <a href="{% url 'donate_book' user_id=id%}"><button type="submit" class="form-control btn btn-primary submit px-3">Donate Book(s)</button></a>
          </div>
          <div class="col form-group">
            <a href="{% url 'donate_money' user_id=id%}"><button type="submit" class="form-control btn btn-primary submit px-3">Donate Money</button></a>
          </div>
          <div class="col form-group">
            <a href="{% url 'user_info' user_id=id%}"><button type="submit" class="form-control btn btn-primary submit px-3">My Info</button></a>
          </div>
          <div class="col form-group">
            <a href="/dorei/signOut/"><button type="submit" class="form-control btn btn-primary submit px-3">Sign Out</button></a>
          </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section">Total Charity : {{charity}}</h2>
          <h2 class="heading-section">Total No. of Books Donated Till Now : {{books_donated}}</h2>
          <h2 class="heading-section">Total No. of Book Donors : {{book_donors}}</h2>
          <h2 class="heading-section">Total No. of Stationery items Donated Till Now : {{stationery_donated}}</h2>
          <h2 class="heading-section">Total No. of Stationery Donors : {{stationery_donors}}</h2>
        </div>
      </div>

      <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section"><u>Recent Book Donations</u></h2>
          </div>
      </div>

      <table style="width:100%">
        <tr class="heading-section" style="color:#FFB6C1;">
          <th>User Name</th>
          <th>Book Title</th>
          <th>Date & Time of Donation</th>
        </tr>
        {% for donation in recent_book_donation %}
        <tr class="heading-section" style="color:#FFFFFF">
          <td >{{donation.name}}</td>
          <td >{{donation.title}}</td>
          <td >{{donation.t_time}}</td>
        </tr>
        {% endfor %}
      </table> 

    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <br></br>
          <h2 class="heading-section"><u>Recent Stationery Donations</u></h2>
        </div>
    </div>

    <table style="width:100%">
      <tr class="heading-section" style="color:#FFB6C1;">
        <th>User Name</th>
        <th>Stationery category</th>
        <th>Quantity</th>
        <th>Date & Time of Donation</th>
      </tr>
      {% for donation in recent_stationery_donation %}
      <tr class="heading-section" style="color:#FFFFFF">
        <td>{{donation.name}}</td>
        <td>{{donation.category}}</td>
        <td>{{donation.quantity}}</td>
        <td>{{donation.t_time}}</td>
      </tr>
      {% endfor %}
    </table>

    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <br></br>
          <h2 class="heading-section"><u>Request for a Book</u></h2>
          <h2 class="heading-section" style="color:#FFB6C1;">Go ahead and enter a subject to view the available books!</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="login-wrap p-0">
            <form action="{% url 'transaction' user_id=id%}" method="POST" class="signin-form">
              {% csrf_token %}
              <div class="form-group">
                <select type="text" name="subject" class="form-control" placeholder="Subject" required>
                    <option>{{subject}}</option>
                    <option>Physics</option>  
                    <option>Chemistry</option>  
                    <option>Biology</option>
                    <option>Mathematics</option>
                    <option>English language</option>
                    <option>English literature</option>
                    <option>Hindi</option>
                    <option>Geography</option>
                </select>
              </div>
              <div class="form-group">
                <button type="submit" class="form-control btn btn-primary submit px-3">Check Books!</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      {% if subject != 'Select a Subject'%}
      <table style="width:100%">
      <tr class="heading-section" style="color:#FFB6C1;">
        <th>Title</th>
        <th>Author</th>
        <th>Grade</th>
        <th>Edition</th>
        <th>Make a request</th>
      </tr>
      {% for available in books_available %}
      <tr class="heading-section" style="color:#FFFFFF">
        <td>{{available.title}}</td>
        <td>{{available.author}}</td>
        <td>{{available.grade}}</td>
        <td>{{available.edition}}</td>
        <td>
          <a href="{% url 'request_book' user_id=id isbn=available.isbn%}">
            <button type="submit" class="form-control btn btn-primary submit px-3">Request
            </button>
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <br></br>
          <h2 class="heading-section"><u>Request for a Stationery</u></h2>
          <h2 class="heading-section" style="color:#FFB6C1;">Go ahead and enter a category to view the available items!</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="login-wrap p-0">
            <form action="{% url 'transaction' user_id=id%}" method="POST" class="signin-form">
              {% csrf_token %}
              <div class="form-group">
                <select type="text" name="category" class="form-control" placeholder="Subject" required>
                    <option>{{category}}</option>
                    <option>Pencil</option>  
                    <option>Eraser</option>  
                    <option>School Bag</option>
                    <option>Pen</option>
                </select>
              </div>
              <div class="form-group">
                <button type="submit" class="form-control btn btn-primary submit px-3">Check Items!</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      {% if category != 'Select a Category'%}
      <table style="width:100%">
      <tr class="heading-section" style="color:#FFB6C1;">
        <th>Category</th>
        <th>Quantity</th>
        <th>Make a request</th>
      </tr>
      {% for available in stationery_available %}
      <tr class="heading-section" style="color:#FFFFFF">
        <td>{{available.name}}</td>
        <td>{{available.quantity}}</td>
        <td>
          <a href="{% url 'request_stationery' user_id=id stationery_id=available.stationery_id%}">
            <button type="submit" class="form-control btn btn-primary submit px-3">Request 1 {{available.name}}
            </button>
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    </div>
  </section>
  </body>

{% endblock %}