{% extends "base_generic.html" %}

{% block content %}
  <body class="img js-fullheight" style="background-color: #928DAB;">
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
          <div class="col form-group">
            <a href="/dorei/donate_stationery/"><button type="submit" class="form-control btn btn-primary submit px-3">Donate Item(s)</button></a>
          </div>
          <div class="col form-group">
            <a href="/dorei/donate_book/"><button type="submit" class="form-control btn btn-primary submit px-3">Donate Book(s)</button></a>
          </div>
          <div class="col form-group">
            <a href="/dorei/donate_money/"><button type="submit" class="form-control btn btn-primary submit px-3">Donate Money</button></a>
          </div>
          <div class="col form-group">
            <a href="/dorei/signOut/"><button type="submit" class="form-control btn btn-primary submit px-3">Sign Out</button></a>
          </div>
      </div>
    </div>
  </section>
  </body>

{% endblock %}